

@import url("https://fonts.googleapis.com/css2?family=Milonga&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Ojuju:wght@600&display=swap");

@import url("fonts.css");

@import url("reset.css");

body {
  font-family: "Milonga", serif;
  font-weight: 800;
}

.main {
  font-size: 20px;
}
.title {
  text-shadow: 1px 1px 5px red;
  font-size: 50px;
  color: green;
  font-weight: 700;
}
.text {
  color: blueviolet;
}
span {
  color: green;
}
.text-text {
  font-family: "Ojuju", sans-serif;
  font-weight: 600;

  text-decoration: line-through;

  font-weight: 400;
  font-style: normal;
  text-decoration-color: yellowgreen;
}
.text-text p {
  color: brown;
}
.text2 {
  color: rgba(137, 43, 226, 0.2);
}
.list {
  color: blue;
  text-align: center;
  text-decoration: underline;
  text-decoration-color: green;
  font-weight: 800;
}
.title-title {
  text-align: center;
  color: red;
  font-size: 45px;
  font-weight: 800;
  text-shadow: -2px -5px 5px blue;
}
li {
  font-size: 30px;
  font-style: italic;
}
a {
  color: red;
  font-size: 30px;
  text-decoration: underline;
  text-decoration-color: black;
}
