@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&family=Workbench&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Workbench&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Rubik+Scribble&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,700;1,700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@500&display=swap");

@import url("reset.css");

body {
  width: 100%;
  background-color: #fff;
  padding: 100px;
}
.conteiner {
  width: 100%;
  border: 2px solid orange;
  padding: 20px;
  margin: 0 auto;
}
.header {
  background-color: #777;
}
.homework {
  font-size: 60px;
  font-weight: 500;
  text-align: center;
  font-family: "Rubik", serif;
  font-style: italic;
  font-style: italic;
}
.page {
  background-color: #333;
  width: 100%;
  max-width: 1550px;
  padding: 30px;
}
.text {
  width: 100%;
  color: #fff;
  font-size: 25px;
  font-weight: 300;
  display: inline-block;
}
.text:first-child {
  margin-left: 20px;
}
.icon-pay1 {
  vertical-align: middle;
  padding-right: 10px;
  margin-left: 55px;
}
.icon-pay {
  vertical-align: middle;
  padding-right: 10px;
}
p {
  padding-bottom: 20px;
}
span:hover {
  background-color: orange;
  text-decoration: underline;
}

.footer {
  background-color: green;
  color: yellow;
  text-align: center;
  font-size: 25px;
  font-style: italic;
}
.example {
  background-color: #fff;
}
.content-imeg {
  margin-bottom: 20px;
}
.imeg2 {
  display: inline-block;
  font-size: 60px;
  color: grey;
}
.imeg1 {
  vertical-align: middle;
}
h2 {
  font-size: 40px;
  color: grey;
  text-align: center;
}
.imeg {
  display: inline-block;
}
